@model IEnumerable<SaborExpress.Models.Snack>
<div>
    <h2>@ViewData["Title"]</h2>
</div>
<h2>@ViewData["Date"]</h2>

<hr />
<h3>@ViewBag.Total @ViewBag.TotalSnacks</h3>
<hr />
<h3>@TempData["Name"];</h3>

@foreach (var snack in Model)
{
    <div>
        <h4> @snack.Name</h4>
        <p><img src="@snack.ImageUrl" /></p>
        <h3>Price : @snack.Price.ToString("c")</h3>
    </div>
}