@model Snack
<div class="col-sm-4 col-md-4 col-lg-4">
    <p><img src="@Model.ImageUrl" class="img-fluid" /></p>
    <h3>Price : @Model.Price.ToString("c")</h3>
    <h4>
        <a asp-controller="Snack" asp-action="Details" asp-route-snackId="@Model.SnackId">@Model.Name</a>
        @* O asp-route-snackId serve para dizer onde esse link vai, no caso vai até o SnackId e mostra o nome dele *@
    </h4>
    <p>@Model.ShortDescription</p>
    <div>
        <p class="button">
            <a class="btn btn-primary" id="cartButton" asp-controller="ShoppingCart" asp-action="AddItemToShoppingcart" asp-route-SnackId="@Model.SnackId"> Add to cart</a>
        </p>
    </div>
</div>


