@model IEnumerable<SaborExpress.Models.Order>

<h2>Orders Per Period</h2>

<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Initial Date</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                </div>
                <div class="form-group">
                    <label for="maxDate">Final Date</label>
                    <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                </div>
            </div>
            <button type="submit" class="btn btn-success">Filter</button>
        </form>
    </div>
</nav>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Total de Pedidos = @Model.Count()</h3>
        <h3 class="panel-title">Total de Lanches nos Pedidos = @Model.Sum(obj => obj.TotalItemsOrder).ToString()</h3>
        <h3 class="panel-title">Valor Total dos Pedidos = @Model.Sum(obj => obj.TotalOrder).ToString("c")</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalItemsOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDeliveredTo)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalItemsOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDeliveredTo)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>